<div class="container">

    <div class="knobs text-center">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
                <app-knob title="Today's Visitors" model="knob1" field="value" colour="#f75353"></app-knob>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
                <app-knob title="Today's Profit" model="knob2" field="value" colour="#32c8de"></app-knob>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
                <app-knob title="Bounce Rate" model="knob3" field="value" colour="#51d466"></app-knob>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 col-mob">
                <app-knob title="Total Members" model="knob4" field="value" colour="#cb79e6"></app-knob>
            </div>
            <div class="col-md-4">

                <!-- Current status -->
                <div class="current-status">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <!-- Current status item -->
                            <div class="current-status-item">
                                <!-- Icon
                                <i class="fa fa-user lblue"></i> -->
                                <!-- Heading -->
                                <h6>Profit</h6>
                                <h3>$50,000 <span class="fa fa-arrow-circle-up green"></span></h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <!-- Current status item -->
                            <div class="current-status-item">
                                <!-- Icon
                                <i class="fa fa-bar-chart-o lblue"></i> -->
                                <!-- Heading -->
                                <h6>Revenue</h6>
                                <h3>55.89% <span class="fa fa-arrow-circle-down red"></span></h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- Current status item -->
                            <div class="current-status-item">
                                <!-- Heading -->
                                <h6>Customers</h6>
                                <h3>11,000 <span class="fa fa-arrow-circle-up lblue"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <!-- Current status item -->
                            <div class="current-status-item">
                                <!-- Icon
                                <i class="fa fa-user lblue"></i> -->
                                <!-- Heading -->
                                <h6>Bounce Rate</h6>
                                <h3>30.07% <span class="fa fa-arrow-circle-down lblue"></span></h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <!-- Current status item -->
                            <div class="current-status-item">
                                <!-- Icon
                                <i class="fa fa-bar-chart-o lblue"></i> -->
                                <!-- Heading -->
                                <h6>Visitors</h6>
                                <h3>25,000 <span class="fa fa-arrow-circle-up green"></span></h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- Current status item -->
                            <div class="current-status-item">
                                <!-- Heading -->
                                <h6>Orders</h6>
                                <h3>5,000 <span class="fa fa-arrow-circle-down red"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <!-- Project widget -->
            <app-projects projects="projects"></app-projects>

        </div>

        <div class="col-md-4">

            <!-- Chat widget -->
            <app-comments comments="comments"></app-comments>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Vendors widget -->
            <app-vendors vendors="vendors"></app-vendors>

        </div>
    </div>

    <div class="row">

        <div class="col-md-8">

            <!-- Timeline widget -->
            <app-timeline title="Project name here" milestones="milestones"></app-timeline>

        </div>

        <div class="col-md-4">
            <!-- Map widget -->
            <app-map></app-map>
        </div>

    </div>

    <div class="row">
        <div class="col-md-8">
            <!-- Home chart widget -->
            <div class="widget">
                <div class="widget-head br-lblue">
                    <h3 class="pull-left"><i class="fa fa-bar-chart-o"></i> Latest Report</h3>
                    <div class="pull-right">
                        <!-- Nav tabs -->
                        <ul>
                            <li><a href="#c-one" data-toggle="tab" class="btn btn-default btn-xs">Visitors</a>&nbsp;</li>
                            <li><a href="#c-two" data-toggle="tab" class="btn btn-default btn-xs">Revenue</a>&nbsp;</li>
                            <li><a href="#c-three" data-toggle="tab" class="btn btn-default btn-xs">Growth</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body">

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active in fade" id="c-one">
                            <!-- Chart one -->
                            <div class="chart-one">
                                <!-- Line chart placeholder -->
                                <div id="m-line-chart"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="c-two">
                            <!-- Chart two -->
                            <div class="chart-two">
                                <!-- Bar chart placeholder -->
                                <div id="m-bar-chart"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="c-three">
                            <!-- Chart three -->
                            <div class="chart-three">
                                <!-- Real time chart placeholder -->
                                <div id="m-real-chart"></div>
                                <hr />
                                <!-- Update interval for realtime chart -->
                                Update Interval : <input id="updateInterval" type="text" class="form-control input-sm" value="">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Main area chart -->
            <div class="widget">
                <div class="widget-head br-red">
                    <h3><i class="fa fa-desktop"></i> Latest Updates</h3>
                </div>
                <div class="widget-body">
                    <!-- Sparkline chart -->
                    <div class="m-spark-chart text-center">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div id="spark1"></div>
                                <!-- Chart details -->
                                <h5>1200 Visitors</h5>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div id="spark2"></div>
                                <!-- Chart details -->
                                <h5>5000 Members</h5>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div id="spark3"></div>
                                <!-- Chart details -->
                                <h5>8000 Bounce </h5>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- Pie chart -->
                    <div class="m-pie-chart">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <!-- Pie chart placeholder -->
                                <div id="m-pie-chart"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <!-- Pie chart info -->
                                <ul class="list-unstyled">
                                    <li><span class="badge badge-danger">5</span> &nbsp; <strong>Today's Revenue</strong></li>
                                    <li><span class="badge badge-success">8</span> &nbsp; <strong>Yesterday's Profit</strong></li>
                                    <li><span class="badge badge-info">4</span> &nbsp; <strong>Monday's Visitors</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">

    /*Main line chart*/
    $(function() {
        /* Chart data #1 */
        var d1 = [[0, 4], [1, 3.5], [2, 4.2], [3, 5.5],[4, 4.9], [5, 5], [6, 5.3], [7, 6],[8, 5.3], [9, 4], [10, 4], [11, 4.5],[12, 5], [13, 4]];
        /* Chart data #2 */
        var d2 = [[0, 2], [1, 1.5], [2, 2.2], [3, 3.5],[4, 2.9], [5, 3], [6, 3.3], [7, 4],[8, 3.3], [9, 2], [10, 2], [11, 2.5],[12, 3], [13, 2]];
        var options = {
            series: {
                lines: {
                    show: true, fill: true, lineWidth:1, fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.15}] }
                },
                points: {
                    show: true, fill: true, lineWidth:2, radius:3, fillColor: "#fff"
                },
                shadowSize: 0
            },
            colors :["#32c8de","#51d466"],
            grid: {
                hoverable: true, color: "#bbb", backgroundColor:"#fff" ,borderWidth:1, borderColor:"#e8e8e8", labelMargin:10
            },
            xaxis: {
                ticks:12,
                font: {
                    size: 11,
                    color: "#aaa"
                }
            },
            yaxis: {
                ticks: 4,
                font: {
                    size: 11,
                    color: "#aaa"
                }
            },
            legend: {
                backgroundOpacity:0,
                noColumns:2,
                labelBoxBorderColor: "#fff"
            }
        };

        $("<div id='tooltip'></div>").css({
            position: "absolute",
            display: "none",
            "border-radius":"5px",
            padding: "0px 5px",
            color:"#999",
            "font-size":"11px",
            "background-color": "#fff",
            "border":"1px solid #ccc"
        }).appendTo("body");

        $("#m-line-chart").bind("plothover", function (event, pos, item) {
            if (item) {
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                $("#tooltip").html(x + ", " + y)
                    .css({top: item.pageY+5, left: item.pageX+5})
                    .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
        });


        <!-- Actual plotting -->
        $.plot("#m-line-chart", [ { data: d1, label: "Revenue"},{ data: d2, label: "Profit"}], options);
    });

    <!-- Line chart ends -->

    <!-- Bar chart starts -->

    $(function() {

        var data1 = [];
        for (var i = 0; i <= 20; i += 1) {
            data1.push([i, parseInt(Math.random() * 30)]);
        }

        var data2 = [];
        for (var i = 0; i <= 20; i += 1)
            data2.push([i, parseInt(Math.random() * 30)]);

        var stack = 0,
            bars = true,
            lines = false,
            steps = false;

        function plotWithOptions() {
            $.plot("#m-bar-chart", [ data1, data2 ], {
                series: {
                    stack : stack,
                    bars: {
                        show: bars,
                        barWidth: 0.6,
                        lineWidth: 1,
                        fill: true,
                        fillColor: { colors: [ { opacity: 0.9 }, { opacity: 0.5}] }
                    }
                },
                colors: ["#3FB8CA", "#2BB3C7"],
                grid: {
                    hoverable: true, color: "#bbb", backgroundColor:"#fff" ,borderWidth:1, borderColor:"#e8e8e8", labelMargin:15
                },
                xaxis: {
                    ticks:8,
                    font: {
                        size: 11,
                        color: "#aaa"
                    }
                },
                yaxis: {
                    ticks: 4,
                    font: {
                        size: 11,
                        color: "#aaa"
                    }
                }
            });
        }

        plotWithOptions();

    });

    <!-- Bar chart ends -->


    <!-- Realtime chart starts -->

    $(function () {
        // we use an inline data source in the example, usually data would
        // be fetched from a server
        var data = [], totalPoints = 300;
        function getRandomData() {
            if (data.length > 0)
                data = data.slice(1);

            // do a random walk
            while (data.length < totalPoints) {
                var prev = data.length > 0 ? data[data.length - 1] : 50;
                var y = prev + Math.random() * 10 - 5;
                if (y < 10)
                    y = 10;
                if (y > 70)
                    y = 70;
                data.push(y);
            }

            // zip the generated y values with the x values
            var res = [];
            for (var i = 0; i < data.length; ++i)
                res.push([i, data[i]])
            return res;
        }

        // setup control widget
        var updateInterval = 100;
        $("#updateInterval").val(updateInterval).change(function () {
            var v = $(this).val();
            if (v && !isNaN(+v)) {
                updateInterval = +v;
                if (updateInterval < 1)
                    updateInterval = 1;
                if (updateInterval > 2000)
                    updateInterval = 2000;
                $(this).val("" + updateInterval);
            }
        });

        // setup plot
        var options = {
            series: { shadowSize: 0 }, // drawing is faster without shadows
            lines: {fill: true, lineWidth:1},
            colors: ["#51d466"],
            grid: {
                hoverable: false, color: "#bbb", backgroundColor:"#fff" ,borderWidth:1, borderColor:"#e8e8e8", labelMargin:15
            },
            xaxis: {
                ticks:8,
                font: {
                    size: 11,
                    color: "#aaa"
                }
            },
            yaxis: {
                ticks: 4,
                font: {
                    size: 11,
                    color: "#aaa"
                }
            }
        };
        var plot = $.plot($("#m-real-chart"), [ getRandomData() ], options);

        function update() {
            plot.setData([ getRandomData() ]);
            // since the axes don't change, we don't need to call plot.setupGrid()
            plot.draw();

            setTimeout(update, updateInterval);
        }
        update();

    });

    <!-- Realtime charts ends -->

    <!-- Pie chart start -->

    $(function () {

        var data = [],
            series = 3;

        for (var i = 0; i < series; i++) {
            data[i] = {
                data: Math.floor((Math.random()*10)+1) + 1
            }
        }

        var placeholder = $("#m-pie-chart");

        placeholder.unbind();

        $.plot(placeholder, data, {
            series: {
                pie: {
                    show: true,
                    innerRadius:0.6,
                    label: {
                        show: false
                    }
                }
            },
            colors: ["#f75353","#51d466","#32c8de"],
            grid: {hoverable: false},
            legend: {
                show: false
            }
        });


    });
    <!-- Pie chart ends -->

    /* ****************************************** */
    /* Main area sparkline */
    /* ****************************************** */

    $("#spark1").sparkline([8,11,9,12,10,9,13,11,12,11,10,12,11,], {
        type: 'bar',
        height: '30',
        barWidth: 4,
        barColor: '#f75353'});

    $("#spark2").sparkline([8,11,9,12,10,9,13,11,12,11,10,12,11,], {
        type: 'bar',
        height: '30',
        barWidth: 4,
        barColor: '#51d466'});

    $("#spark3").sparkline([8,11,9,12,10,9,13,11,12,11,10,12,11,], {
        type: 'bar',
        height: '30',
        barWidth: 4,
        barColor: '#32c8de'});

</script>
