<div class="widget projects-widget">

    <div class="widget-head br-blue">
        <h3><i class="fa fa-list-ul"></i> Projects</h3>
    </div>

    <div class="widget-body no-padd">

        <ul class="list-unstyled">

            <li ng-repeat="project in projects track by $index" class="clearfix" style="padding: 12px 15px 5px 15px;">
                <p>
                    <!-- Project icon -->
                    <i class="fa {{project.icon}}" style="font-size: 14px;"></i>
                    <!-- Name -->
                    <strong>{{project.name}}</strong>
                </p>

                <p class="p-meta">
                    <!-- Due date & % Completed -->
                    <span>Due : {{project.dueDate}} - {{project.completeness}}% Done</span>
                </p>

                <!-- Progress bar -->
                <div class="progress clearfix">
                    <div class="progress-bar progress-bar-{{!project.state || project.state === 'normal' ? 'info' : project.state}}"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : project.completeness + '%'}">
                        <span class="sr-only">{{project.completeness}}% Complete</span>
                    </div>
                </div>

                <!-- Actions -->
                <div class="pull-right clearfix">
                    <a href="#" class="btn btn-success btn-xs" title="Comment"><i class="fa fa-comments"></i></a>
                    <a href="#" class="btn btn-primary btn-xs" title="Vote"><i class="fa fa-thumbs-up"></i></a>
                    <a href="#" class="btn btn-yellow btn-xs" title="Mark"><i class="fa fa-star"></i></a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-check-square-o"></i></a>
                </div>
            </li>

        </ul>

    </div>


    <div class="widget-foot">
        <span class="pull-left"><i class="fa fa-time"></i> Last Update - 55 mins ago</span>
        <a href="#" class="btn btn-success btn-xs pull-right">Refresh</a>
        <div class="clearfix"></div>
    </div>

</div>
