<section class="widget panel project-map-widget">
    <header class="widget-head panel-heading br-orange">
        <h3><i class="fa fa-map-marker"></i> Projects Map</h3>
        <!--<span class="tools pull-right">
        <a href="javascript:;" class="fa fa-chevron-down"></a>
        <a href="javascript:;" class="fa fa-remove"></a>
        </span>-->
    </header>
    <div class="widget-body panel-body" style="display: block;">
        <div class="map-body" style="min-height: 350px;"></div>
    </div>
</section>

<script>

    function initMap() {
        var map_body = jQuery('.project-map-widget .panel-body .map-body')[0];
        var map = new google.maps.Map(map_body, {
            center: {lat: -6.1753871, lng: 106.8249641},
            zoom: 14
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Scan projects around here?');
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }
</script>

<!--Google Map API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQBAlkBz3NAf46Y2gQiaXRmQVxpHitSlw&signed_in=true&callback=initMap" async defer></script>
